<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        }
        html,body
        {
        height:100%;
        width:100%;
        }
        h1,p{
        text-align: center; 
        margin-top: 20%;
        font-family: Arial, sans-serif;
        }
    </style>
</head>
<body>
    <h1>Welcome To The Express view</h1>
    <% messages.forEach(message=>{ %>
<h1> <%= message%></h1>
        <% }) %>
</body>
</html>